__pycache__/
src/personalteacherassistant/__pycache__/
src/personalteacherassistant/*/__pycache__/
.env
venv/
.venv/
src/personalteacherassistant/venv/
users.json
src/personalteacherassistant/users.json
personalteacherassistant.egg-info/
personal_teacher_assistant.egg-info/
src/personal_teacher_assistant.egg-info/
src/personalteacherassistant.egg-info/
src/personalteacherassistant/personalteacherassistant.egg-info/
contextfiles/
src/contextfiles/
src/personalteacherassistant/contextfiles/
logs.csv
src/history/