<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>yourpage</title>
</head>
<body>
    <h1>{{user.username}}</h1>
    <p>email:{{user.email}}</p>
    <p>user joined date:{{user.date_joined}}</p>

    <!-- <form action="{% url 'other' %}" method="post">
        {% csrf_token %}
            <p><input type="submit" value="別のユーザー"></p>
    </form> -->

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
            <p><input type="submit" value="Logout"></p>
    </form>
</body>

</html>